<div class="calender">
    <div class="calender__left">
        <img class="calender__left--image" src="assets/images/calender-image.svg" alt="">
    </div>

    <div class="calender__right">
        <h2 class="calender__right--heading">How to design your site footer like we did</h2>
        <p class="calender__right--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo
            ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta.
            Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar,
            aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
        <button class="calender__right--button">Learn more</button>
    </div>
</div>