<div class="header">
    <div class="header__section">
        <div class="header__section__image">
            <img src="assets/images/Icon.svg" alt="">
            <span class="header__section__image-name">Nexcent</span>
        </div>
    
        <div class="header__section__nav">
            <ul class="header__section__nav--list">
                <li class="header__section__nav-item"><a class="header__section__nav-link" href="#">Home</a> </li>
                <li class="header__section__nav-item"><a class="header__section__nav-link" href="#">Feature</a></li>
                <li class="header__section__nav-item"><a class="header__section__nav-link" href="#">Coummunity</a></li>
                <li class="header__section__nav-item"><a class="header__section__nav-link" href="#">Blog</a></li>
                <li class="header__section__nav-item"><a class="header__section__nav-link" href="#">Pricing</a></li>
                
                <button class="header__section__nav-button">
                    Register Now<img style="margin-left:10px" src="assets/images/Down.svg" alt="">
                </button>
            </ul>
        </div>
    </div>
</div>