<div class="footer">
    <div class="footer__section">
        <div class="footer__section__company-info">
            <div class="footer__section__company-info__sit-info">
                <img src="assets/images/Icon.svg" alt="">
            <span class="footer__section__company-info__sit-info--site-name">Nexcent</span>
            </div>
            <p class="footer__section__company-info--copyright">Copyright © 2020 Nexcent ltd.</p>
            <p class="footer__company-info--rights">All rights reserved</p>
    
            <div class="footer__section__company-info--social-media">
                <img src="assets/images/instagram.svg" alt="">
                <img src="assets/images/website.svg" alt="">
                <img src="assets/images/Twitter.svg" alt="">
                <img src="assets/images/youtube.svg" alt="">
    
            </div>
        </div>
    
        <div class="footer__section__company-links__links">
            <h4 class="footer__section__company-links__links--heading">Company</h4>
            <div class="footer__section__company-links__links--text">
                <p>About Us</p>
                <p>Blog</p>
                <p>Contact Us</p>
                <p>pricing</p>
                <p>Testimonials</p>
            </div>
        </div>
    
        <div class="footer__section__company-links__about">
            <h4 class="footer__section__company-links__about--about-heading">Help Center</h4>
            <div class="footer__section__company-links__about--about-links">
                <p>Term of service</p>
                <p>Legal</p>
                <p>Privicy Policy</p>
                <p>Status</p>
            </div>
        </div>
    
        <div class="footer__section__company-links__news">
            <h4 class="footer__section__company-links__news--heading">Stay up to date</h4>
            <input class="footer__section__company-links__news--input" type="email" name="" id="" placeholder="Your email address">
            <img class="footer__section__company-links__news--icon" src="assets/images/inputIcon.svg" alt="">
        </div>
    </div>
</div>