*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.footer-demo {
  padding: 32px 32px;
  background-color: #F5F7FA;
  ;

  &--heading1, &--heading2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 64px;
    font-weight: 600;
    line-height: 76px;
  }

  &--button{
    width: 176px;
    height: 52px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF4F;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 14px;
    margin: auto;
    margin-top: 30px;
    line-height: 16px;
    font-weight: 400;
  }
}
