<div class="unblock">
    <div class="unblock__left">
        <img src="assets/images/rafiki.svg" alt="">
    </div>

    <div class="unblock__right">
        <h2 class="unblock__right--heading">The unseen of spending three years at Pixelgrade</h2>
        <p class="unblock__right--paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo
            ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque placerat vestibulum lorem sed porta.
            Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa pulvinar,
            aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.</p>
        <button class="unblock__right--button">Learn more</button>
    </div>
</div>