<div class="cummunity-updates">
    <div class="cummunity-updates__left">
        <h2 class="cummunity-updates__left--heading">Caring is the new marketing</h2>
        <p class="cummunity-updates__left--description">The Nextcent blog is the best place to read about the latest
            membership insights, trends and more. See who's
            joining the community, read about how our community are increasing their membership income and lot's more.​
        </p>
    </div>

    <div class="cummunity-updates__right">
        <div class="cummunity-updates__right__card1">
            <img class="cummunity-updates__right__card1--first-img" src="assets/images/updatesImage1.svg" alt="">
            <div class="cummunity-updates__right__card1__paragraph1">
                <p class="">Creating Streamlined Safeguarding Processes with
                    OneRen</p>
                <div class="cummunity-updates__right__card1__paragraph1--read-more-link1">
                    <h4>Read More</h4> <img src="assets/images/greenArow.svg" alt="">
                </div>
            </div>
        </div>
        <div class="cummunity-updates__right__card2">
            <img class="cummunity-updates__right__card2--second-img" src="assets/images/updatesImage2.svg" alt="">
            <div class="cummunity-updates__right__card2__paragraph2">
                <p>What are your safeguarding responsibilities and
                    how can you manage them?</p>

                <div class="cummunity-updates__right__card2__paragraph2--read-more-link2">
                    <h4>Read More</h4> <img src="assets/images/greenArow.svg" alt="">
                </div>

            </div>
        </div>
        <div class="cummunity-updates__right__card3">
            <img class="cummunity-updates__right__card3--third-img" src="assets/images/updatesImage3.svg" alt="">
            <div class="cummunity-updates__right__card3__paragraph3">
                <p>Revamping the Membership Model with Triathlon
                    Australia</p>

                <div class="cummunity-updates__right__card3__paragraph3--read-more-link3">
                    <h4>Read More</h4> <img src="assets/images/greenArow.svg" alt="">
                </div>

            </div>
        </div>
    </div>
</div>