<div class="banner">
    <div class="banner__section">
        <div class="banner__section__top">
            <div class="banner__section__top__left-content">
                <p class="banner__section__top__left-content--heading1">Lessons and insights</p>
                <p class="banner__section__top__left-content--heading2"> from 8 years</p>
                <p class="banner__section__top__left-content--paragraph">Where to grow your business as a photographer: site or social
                    media?</p>
                <button class="banner__section__top__left-content--button">Register</button>
            </div>
    
            <div class="banner__section__top__right-image">
                <img src="assets/images/Illustration.svg" alt="" width="100%" height="auto">
            </div>
        </div>
        <div class="banner__section__bottom">
            <img src="assets/images/Dot.svg" alt="">
        </div>
    </div>
</div>