<div class="community">
    <div class="community__left">
        <h2 class="community__left--heading1">Manage your entire community</h2>
        <h2 class="community__left--heading2">in a single system</h2>
        <p class="community__left--para">Who is Nextcent suitable for?
        </p>
    </div>


    <div class="community__right">
        @for(data of community_data; track data){
        <div class="community__right__membership">
            <img src="{{data.image}}" alt="">
            <h3 class="community__right__membership--heading">{{data.heading}}</h3>
            <p class="community__right__membership--paragraph">{{data.description}}</p>
        </div>
        }
    </div>

</div>