<div class="community">
    <div class="community__left">
        <h2 class="community__left--heading1">Manage your entire community</h2>
        <h2 class="community__left--heading2">in a single system</h2>
        <p class="community__left--para">Who is Nextcent suitable for?
        </p>
    </div>

    <div class="community__right">
        <div class="community__right__membership">
            <img src="assets/images/membership.svg" alt="">
            <h3 class="community__right__membership--heading">Membership Organisations</h3>
            <p class="community__right__membership--paragraph">Our membership management software provides full automation of membership renewals and payments</p>
        </div>

        <div class="community__right__associations1">
            <img src="assets/images/association1.svg" alt="">
            <h3 class="community__right__associations1--heading1">National Associations</h3>
            <p class="community__right__associations1--national">Our membership management software provides full automation of membership renewals and payments</p>
        </div>

        <div class="community__right__associations2">
            <img src="assets/images/association2.svg" alt="">
            <h3 class="community__right__associations1--heading2">Clubs And Groups</h3>
            <p class="community__right__associations1--clubs">Our membership management software provides full automation of membership renewals and payments</p>
        </div>

    </div>
</div>