<div class="achievements">
    <div class="achievements__content">
        <div class="achievements__content__left">
            <h2 class="achievements__content__left--heading1">Helping a locals data</h2>
            <h2 class="achievements__content__left--heading2">business reinvent itself</h2>
            <p class="achievements__content__left--paragraph">We reached here with our hard work and dedication</p>
        </div>
    
        <div class="achievements__content__right">
            <div class="achievements__content__right__row1">
                <div class="achievements__content__right__row1__members">
                    <img src="assets/images/member.svg" alt="">
                    <div class="achievements__content__right__row1__members--member-data">
                        <h3>2,245,341</h3>
                        <p>Member</p>
                    </div>
                </div>
    
                <div class="achievements__content__right__row1__clubs">
                    <img src="assets/images/clubs.png" alt="" width="40px" height="42px">
                    <div class="achievements__content__right__row1__clubs--clubs-data">
                        <h3>46,328</h3>
                        <p>Clubs</p>
                    </div>
                </div>
            </div>
    
            <div class="achievements__content__right__row2">
                <div class="achievements__content__right__row2__booking">
                    <img src="assets/images/booking.svg" alt="">
                    <div class="achievements__content__right__row2__booking--event-booking">
                        <h3>828,867</h3>
                        <p>Events Booking</p>
    
                    </div>
                </div>
    
                <div class="achievements__content__right__row2__payments">
                    <img src="assets/images/payments.svg" alt="">
                    <div class="achievements__content__right__row2--payment-data">
                        <h3>1,926,436</h3>
                        <p>Payments</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>